<html>
	<!--
	 This file demos Vue lifecycle hooks
	 (https://vuejs.org/v2/guide/instance.html#Instance-Lifecycle-Hooks) but
	 does not correspond to any specific example on that page.
	-->

<body>
	<div id="app">
		{{ message }}

		<!--
		Demo the activated & deactivated lifecycle events, which only work on
		custom Vue components inside a <keep-alive>.
		-->
		<keep-alive>
			<show1 v-if="show === 1"></show1>
			<show2 v-if="show === 2"></show2>
		</keep-alive>
	</div>
	<div>
		<hr>
		Check the console for this demo's output.
	</div>
</body>

<script src="/vendor/vue.js"></script>
<script src="/examples/maybe_wasm.js"></script>
<script src="/examples/wasm_start.js"></script>
<script>wasm_start("02-lifecycle")</script>
</html>
