<html>
<body>
	<div id="example">
	  <my-component></my-component>
	</div>

	<hr>

	<div id="example-a">
	  <my-component></my-component>
	</div>

	<hr>

	<div id="example-2-a">
		<div>
			All advance together: Same data object.
		</div>
		<simple-counter1></simple-counter1>
		<simple-counter1></simple-counter1>
		<simple-counter1></simple-counter1>
	</div>

	<hr>

	<div id="example-2-b">
		<div>
			All advance seperately: different data objects.
		</div>
		<simple-counter2></simple-counter2>
		<simple-counter2></simple-counter2>
		<simple-counter2></simple-counter2>
	</div>
</body>

<script src="/vendor/vue.js"></script>
<script src="components.js"></script>
</html>

