<html>
<body>
	<!-- Hello, vue! -->
	<div id="app">
		{{ message }}
	</div>

	<hr>

	<div id="app-2">
		<span v-bind:title="message">
			Hover your mouse over me for a few seconds
			to see my dynamically bound title!
		</span>
	</div>

	<hr>

	<div id="app-3">
		<p v-if="seen">Now you see me</p>
	</div>

	<hr>

	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{ todo.Text }}
			</li>
		</ol>
	</div>

	<hr>

	<div id="app-5">
		<p>{{ message }}</p>
		<button v-on:click="ReverseMessage">Reverse Message</button>
	</div>

	<hr>

	<div id="app-6">
		<p>{{ message }}</p>
		<input v-model="message">
	</div>

	<hr>

	<div id="app-7">
		<ol>
			<!-- Now we provide each todo-item with the todo object    -->
			<!-- it's representing, so that its content can be dynamic -->
			<todo-item
				v-for="item in groceryList"
				v-bind:todo="item"
				v-bind:key="item.id">
			</todo-item>
		</ol>
	</div>

</body>

<script src="/vendor/vue.js"></script>
<script src="01-introduction.js"></script>
</html>

